# MPG Cars

Check out [Cars Exercises Video Tutorial](https://www.youtube.com/watch?v=avzLRBxoguU&list=PLgJhDSE2ZLxaY_DigHeiIDC1cD09rXgJv&index=3) to watch a data scientist go through the exercises

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [0]:
import pandas as pd
import numpy as np

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

   ### Step 3. Assign each to a to a variable called cars1 and cars2

In [0]:
url1 = "https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv"
url2 = "https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv"
cars1 = pd.read_csv(url1)
cars2 = pd.read_csv(url2)

### Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1

In [4]:
cars1.dropna(axis=1, how="all", inplace=True)
cars1.head()

    mpg  cylinders  displacement  ... model  origin                        car
0  18.0          8           307  ...    70       1  chevrolet chevelle malibu
1  15.0          8           350  ...    70       1          buick skylark 320
2  18.0          8           318  ...    70       1         plymouth satellite
3  16.0          8           304  ...    70       1              amc rebel sst
4  17.0          8           302  ...    70       1                ford torino

[5 rows x 9 columns]

### Step 5. What is the number of observations in each dataset?

In [5]:
print(cars1.shape)
print(cars2.shape)

(198, 9)
(200, 9)

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [9]:
cars = cars1.append(cars2)
cars.head()

    mpg  cylinders  displacement  ... model  origin                        car
0  18.0          8           307  ...    70       1  chevrolet chevelle malibu
1  15.0          8           350  ...    70       1          buick skylark 320
2  18.0          8           318  ...    70       1         plymouth satellite
3  16.0          8           304  ...    70       1              amc rebel sst
4  17.0          8           302  ...    70       1                ford torino

[5 rows x 9 columns]

### Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [10]:
nr_owners = np.random.randint(15000, high=73001, size=398, dtype='l')
nr_owners

array([60028, 44310, 50212, 15567, 37837, 29861, 35105, 54583, 64807,
       44988, 25073, 69457, 21799, 70144, 56441, 21922, 20236, 44637,
       42590, 27722, 34218, 19525, 55048, 25304, 25198, 67698, 49000,
       30938, 34019, 53415, 57902, 36579, 19442, 36694, 50347, 51410,
       71137, 68826, 61872, 20348, 34230, 60391, 44857, 33572, 46185,
       55993, 54527, 56566, 33782, 25994, 56217, 41659, 71154, 70808,
       58998, 15595, 24037, 66866, 19996, 28922, 33110, 62773, 31823,
       16392, 49917, 72899, 67044, 21816, 32863, 29812, 66306, 68186,
       18643, 66204, 72076, 62013, 44070, 28041, 35578, 35166, 51784,
       70194, 26142, 71748, 71476, 45596, 62000, 28512, 62606, 56307,
       26355, 43573, 42486, 25165, 68583, 38126, 70323, 20050, 67779,
       56260, 61300, 25952, 69081, 32079, 24498, 65303, 60923, 43705,
       16488, 41327, 63939, 60527, 21437, 25437, 57627, 31912, 71776,
       18331, 27425, 48975, 66610, 67343, 32054, 70161, 71519, 34458,
       72438, 28546, 20565, 15843, 50850, 18170, 30426, 63687, 41223,
       18348, 61388, 66188, 39784, 60652, 20836, 50071, 28714, 39558,
       67821, 18916, 42819, 30578, 20104, 64479, 15652, 65756, 64246,
       66027, 62991, 64750, 23381, 61788, 36583, 26130, 23800, 65626,
       31883, 25277, 52944, 61766, 24822, 47450, 49371, 27958, 35889,
       59314, 72266, 29407, 19197, 36009, 41661, 21082, 53424, 61007,
       53447, 47469, 58980, 48229, 52753, 60898, 59685, 30586, 49021,
       16041, 71624, 46962, 52063, 70572, 58122, 35852, 67603, 62381,
       50598, 63922, 42426, 57760, 31835, 35661, 43239, 49942, 55002,
       66514, 64877, 30049, 37763, 62112, 54933, 25395, 50875, 63872,
       64710, 66924, 46511, 59570, 53486, 71112, 29821, 50737, 60658,
       46091, 29099, 40382, 69359, 22779, 63984, 67373, 44114, 49918,
       61622, 50151, 66118, 26724, 35902, 19725, 56312, 35604, 16919,
       16931, 61382, 16612, 42447, 21462, 46514, 22037, 44163, 34394,
       63249, 25700, 65975, 70286, 52361, 20596, 22004, 34516, 24785,
       24780, 32310, 42831, 43520, 70034, 54433, 60903, 16905, 30821,
       35942, 33493, 21017, 19793, 36793, 62752, 41006, 33428, 39433,
       28357, 24358, 60987, 51804, 28641, 62749, 15212, 32219, 35376,
       48111, 48135, 56905, 68022, 34342, 16390, 52855, 42013, 33323,
       67605, 43342, 25750, 31655, 71251, 28290, 40947, 66367, 56571,
       45667, 53383, 65562, 30674, 63333, 35840, 18522, 28063, 65150,
       44024, 66034, 28784, 28584, 15258, 65189, 63646, 63184, 18202,
       46107, 70927, 27379, 60045, 23753, 50165, 62090, 18816, 44717,
       18582, 34652, 58876, 38851, 54209, 58455, 41960, 71500, 48780,
       67425, 36029, 64548, 49758, 44533, 18800, 51346, 67952, 51101,
       41397, 65330, 45398, 45322, 47164, 44964, 69451, 53781, 55608,
       43519, 22830, 28812, 40365, 32143, 31857, 37742, 55549, 42392,
       60086, 34609, 22820, 61818, 57679, 55475, 31359, 43910, 49041,
       56072, 31541, 53219, 47821, 57696, 30394, 31446, 53085, 72105,
       52295, 50019, 48994, 52138, 26226, 60447, 30989, 50604, 41425,
       67804, 38700])

### Step 8. Add the column owners to cars

In [12]:
cars["owners"] = nr_owners
cars.head()

    mpg  cylinders  displacement  ... origin                        car  owners
0  18.0          8           307  ...      1  chevrolet chevelle malibu   60028
1  15.0          8           350  ...      1          buick skylark 320   44310
2  18.0          8           318  ...      1         plymouth satellite   50212
3  16.0          8           304  ...      1              amc rebel sst   15567
4  17.0          8           302  ...      1                ford torino   37837

[5 rows x 10 columns]