<a href="https://colab.research.google.com/github/woldemarg/pandas_exercises/blob/master/01_Getting_%26_Knowing_Your_Data/Chipotle/my_Solutions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ex2 - Getting and Knowing your Data

Check out [Chipotle Exercises Video Tutorial](https://www.youtube.com/watch?v=lpuYZ5EUyS8&list=PLgJhDSE2ZLxaY_DigHeiIDC1cD09rXgJv&index=2) to watch a data scientist go through the exercises

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [0]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [0]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"

In [0]:
chipo = pd.read_csv(url, "\t")

### Step 4. See the first 10 entries

In [4]:
chipo.head(10)

   order_id  ...  item_price
0         1  ...      $2.39
1         1  ...      $3.39
2         1  ...      $3.39
3         1  ...      $2.39
4         2  ...     $16.98
5         3  ...     $10.98
6         3  ...      $1.69
7         4  ...     $11.75
8         4  ...      $9.25
9         5  ...      $9.25

[10 rows x 5 columns]

### Step 5. What is the number of observations in the dataset?

In [5]:
# Solution 1

# chipo.shape[0]
len(chipo)

4622

In [6]:
# Solution 2
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

### Step 6. What is the number of columns in the dataset?

In [7]:
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [8]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [9]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [10]:
chipo.groupby("item_name")["quantity"].sum().idxmax()

'Chicken Bowl'

### Step 10. For the most-ordered item, how many items were ordered?

In [11]:
chipo[chipo.item_name == "Chicken Bowl"].groupby("item_name")["quantity"].sum()

item_name
Chicken Bowl    761
Name: quantity, dtype: int64

### Step 11. What was the most ordered item in the choice_description column?

In [12]:
chipo.groupby("choice_description")["quantity"].sum().idxmax()

'[Diet Coke]'

### Step 12. How many items were orderd in total?

In [13]:
chipo["quantity"].sum()

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [14]:
chipo.item_price.dtype

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [0]:
converter = lambda s: float(s[1:-1])
chipo.item_price = chipo.item_price.apply(converter)

#### Step 13.c. Check the item price type

In [16]:
chipo.item_price.dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [17]:
rev = (chipo['quantity'] * chipo['item_price']).sum()
print("Revenue was: $" + str(rev))

Revenue was: $39237.02

### Step 15. How many orders were made in the period?

In [18]:
#len(chipo.order_id.value_counts())
chipo.order_id.value_counts().count()

1834

### Step 16. What is the average revenue amount per order?

In [19]:
chipo.groupby("order_id")[["quantity", "item_price"]].\
apply(lambda df: (df["quantity"] * df["item_price"]).sum()).\
mean()

21.394231188658654

In [20]:
chipo["revenue"] = chipo["quantity"] * chipo["item_price"]
#chipo.groupby("order_id")["revenue"].sum().mean()
chipo.groupby("order_id").sum().mean()["revenue"]

21.394231188658654

### Step 17. How many different items are sold?

In [21]:
chipo.item_name.value_counts().count()

50