<a href="https://colab.research.google.com/github/woldemarg/pandas_exercises/blob/master/02_Filtering_%26_Sorting/Chipotle/my_Solutions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [0]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [0]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
chipo = pd.read_csv(url, sep="\t")

In [43]:
chipo.head(10)

   order_id  ...  item_price
0         1  ...        2.39
1         1  ...        3.39
2         1  ...        3.39
3         1  ...        2.39
4         2  ...       16.98
5         3  ...       10.98
6         3  ...        1.69
7         4  ...       11.75
8         4  ...        9.25
9         5  ...        9.25

[10 rows x 5 columns]

### Step 4. How many products cost more than $10.00?

In [42]:
# clean the item_price column and transform it in a float
prices = [float(value[1 : -1]) for value in chipo.item_price]
# reassign the column with the cleaned prices
chipo.item_price = prices
# delete the duplicates in item_name and quantity
chipo_filtered = chipo.drop_duplicates(['item_name','quantity'])
# select only the products with quantity equals to 1
chipo_filtered[(chipo_filtered.quantity == 1) & (chipo_filtered.item_price > 10)].item_name.nunique()

# why not ??
#chipo.groupby("item_name").filter(lambda df: any(df.item_price > 10)).item_name.nunique()#sort_values(["item_name", "item_price"])

31

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [49]:
# delete the duplicates in item_name and quantity


# select only the products with quantity equals to 1


# select only the item_name and item_price columns


# sort the values from the most to less expensive
 chipo_filtered[chipo_filtered.quantity == 1][["item_name","item_price"]].sort_values("item_price", ascending=False)

12

### Step 6. Sort by the name of the item

In [50]:
chipo.item_name.sort_values()

# OR

chipo.sort_values("item_name")

      order_id  ...  item_price
3389      1360  ...       12.98
341        148  ...        6.49
1849       749  ...        6.49
1860       754  ...        6.49
2713      1076  ...        6.49
...        ...  ...         ...
2384       948  ...        8.75
781        322  ...        8.75
2851      1132  ...        8.49
1699       688  ...       11.25
1395       567  ...        8.49

[4622 rows x 5 columns]

### Step 7. What was the quantity of the most expensive item ordered?

In [55]:
chipo[chipo.item_price == chipo.item_price.max()].quantity

3598    15
Name: quantity, dtype: int64

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [59]:
chipo[chipo.item_name == "Veggie Salad Bowl"].order_id.nunique()

18

### Step 9. How many times did someone order more than one Canned Soda?

In [68]:
len(chipo[(chipo.item_name == "Canned Soda") & (chipo.quantity > 1)])

20